apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: taskflow-redpanda
  labels:
    app: redpanda
spec:
  serviceName: taskflow-redpanda
  replicas: 1
  selector:
    matchLabels:
      app: redpanda
  template:
    metadata:
      labels:
        app: redpanda
    spec:
      containers:
      - name: redpanda
        image: docker.redpanda.com/redpandadata/redpanda:v24.3.1
        command:
        - /usr/bin/rpk
        - redpanda
        - start
        - --smp=1
        - --memory=512M
        - --reserve-memory=0M
        - --overprovisioned
        - --node-id=0
        - --kafka-addr=0.0.0.0:9092
        - --advertise-kafka-addr=taskflow-redpanda:9092
        ports:
        - containerPort: 9092
          name: kafka
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "768Mi"
            cpu: "400m"
---
apiVersion: v1
kind: Service
metadata:
  name: taskflow-redpanda
  labels:
    app: redpanda
spec:
  type: ClusterIP
  ports:
  - port: 9092
    targetPort: 9092
    protocol: TCP
    name: kafka
  selector:
    app: redpanda